
.pages {
    box-shadow: 4px 2px 8px 2px rgba(0, 0, 0, 0.5);
}
@keyframes swipe {
    0% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(calc(-250px *9));
    }
}
.Techmax {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    animation-duration: 10  s;
}
.hello {
    border: 1px solid rgba(12, 90, 12, 0.822);
    border-top: 4px solid rgb(31, 36, 63);
    box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.5);
}
.bannar{
    background-image: linear-gradient(rgba(236, 92, 19, 0.699), rgba(4, 7, 10, 0.589)), url(11.jpg);
   
}
  h3 {
      background: #fff;
      color: #3498db;
      font-size: 36px;
      line-height: 100px;
      margin: 10px;
      padding: 2%;
      position: relative;
      text-align: center;
  }
  .action{
    display:block;
    margin:100px auto;
    width:100%;
    text-align:center;
  }
  .action a {
    display:inline-block;
    padding:5px 10px; 
    background:#f30;
    color:#fff;
    text-decoration:none;
  }
  .action a:hover{
    background:#000;
  }
  .party{
     background-image:  linear-gradient(rgba(253, 252, 253, 0.911), rgba(208, 209, 209, 0.712)), url(16.jpg) ;
  }